/* reset style*/
/* 
@import-normalize;
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}
/* rest of app styles */
body {
  background-color: #333;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.container {
  padding: 20px;
}

.row {
  margin-bottom: 50px;
}
